<!-- <div class="filter-item-box" [class.unvalid]='!field' (click)='editItem()'>
    <p>{{fieldName?fieldName:'新建筛选器'}}</p>
    <p *ngIf='field'>
        <span class="o">{{operatorName}}</span>
        <span class="v">{{text?text:value}}</span>
    </p>
</div>
<div class="close" (click)='deleteItem()'>×</div> -->

<div class="filter-item-box" (click)='editItem()'>
    <p class="field" *ngIf='field'>
        {{fieldName}}
        {{operatorName}}
    </p>
    <p class="value" *ngIf='text'>{{text}}</p>
</div>
<div class="close" *ngIf='text' (click)='deleteItem()'>×</div>