<table #table>
    <thead>
        <tr class="table-row">
            <ng-container *ngIf='enableRowOperation'>
                <th class="table-cell operation">操作</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor='let rowData of datas;trackBy:trackByDataFn'>
            <tr class="table-row" [class.hidden]='rowData["_hidden"]'>
                <td class="table-cell operation">
                    <div class="wrapper">
                        <i class="pi pi-pencil button" (click)='editRow(rowData)'></i>
                        <ng-container *ngIf='rowData["_flowProcess"]&&rowData["_flowProcess"].length'>
                            <xcloud-grid-flow-process-operation
                                *ngFor='let process of rowData["_flowProcess"]'
                                [processKey]='flowProcessKey' [id]='rowData.id' [key]='process.key'
                                [name]='process.name' [formKey]='process.formKey'>
                            </xcloud-grid-flow-process-operation>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>