div.grid-content {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #D5D8E1;
    border-bottom: none;
    overflow: hidden;

    div.view-container {
        display: none;
    }

    div.filter-panel {
        position: absolute;
        top: 0;
        right: 0;
        width: 248px;
        height: 100%;
        border-left: 1px solid #D5D8E1;
        z-index: 100;
        overflow: hidden;
        background-color: #fff;
        transition: 200ms transform;
        transform: translateX(320px);


        &.show {
            // display: block;
            transform: translateX(0);
        }
    }

    div.snapline {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #608CE0;
        z-index: 9999;
        opacity: 0;
    }

    .hidden {
        width: 0;
    }
}