:root {
    --byz-button-box-shadow-width: 4px;
    --byz-button-disable-border-color: var(--byz-border-disabled-color);
    --byz-button-disable-background: var(--byz-disabled-background);
    --byz-button-disable-color: var(--byz-disabled-color);
    --byz-button-radius: var(--byz-border-radius);
    --byz-button-default-foreground: var(--byz-text-color);
    --byz-button-default-border-color: var(--byz-border-default-color);
    --byz-button-default-hover-foreground: var(--byz-color-primary);
    --byz-button-default-active-foreground: var(--byz-color-tertiary);
    --byz-button-default-focus-box-shadow-color: var(--byz-color-light);
    --byz-button-default-backgound-color: var(--byz-input-background);
    --byz-button-primary-background: var(--byz-color-primary);
    --byz-button-primary-foreground: var(--byz-palette-white);
    --byz-button-primary-hover-background: var(--byz-color-secondary);
    --byz-button-primary-active-background: var(--byz-color-tertiary);
    --byz-button-primary-focus-box-shadow-color: var(--byz-color-light);
    --byz-button-danger-background: var(--byz-palette-red-dark);
    --byz-button-danger-foreground: var(--byz-button-primary-foreground);
    --byz-button-danger-hover-background: var(--byz-palette-red-medium);
    --byz-button-danger-active-background: var(--byz-palette-red-dark);
    --byz-button-danger-focus-box-shadow-color: var(--byz-palette-red-lighter);
    --byz-button-success-background: var(--byz-palette-green-medium);
    --byz-button-success-foreground: var(--byz-button-primary-foreground);
    --byz-button-success-hover-background: var(--byz-palette-green-medium);
    --byz-button-success-active-background: var(--byz-palette-green-dark);
    --byz-button-success-focus-box-shadow-color: var(--byz-palette-green-lighter);
    --byz-button-warning-background: var(--byz-palette-yellow-dark);
    --byz-button-warning-foreground: var(--byz-button-primary-foreground);
    --byz-button-warning-hover-background: var(--byz-palette-yellow-medium);
    --byz-button-warning-active-background: var(--byz-palette-yellow-dark);
    --byz-button-warning-focus-box-shadow-color: var(--byz-palette-yellow-lighter);
    --byz-button-clear-foreground: var(--byz-color-primary);
    --byz-button-clear-border-color: transparent;
    --byz-button-clear-hover-foreground: var(--byz-color-secondary);
    --byz-button-clear-active-foreground: var(--byz-color-tertiary);
    --byz-button-clear-focus-box-shadow-color: var(--byz-color-light);
    --byz-button-clear-backgound-color: transparent;
}
