$sm:576px !default;
$md:768px !default;
$lg:992px !default;
$xl:1200px !default;
.byz-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.byz-grid>.byz-col,
.byz-grid>[class*="byz-col"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.byz-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.byz-dir-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.byz-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.byz-dir-col-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.byz-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.byz-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.byz-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.byz-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.byz-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.byz-justify-even {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.byz-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.byz-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.byz-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.byz-align-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.byz-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.byz-col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}
.byz-col-fixed {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.byz-col-align-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.byz-col-align-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.byz-col-align-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.byz-col-align-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}
.byz-col-align-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}
.byz-dir-col>.byz-col,
.byz-dir-col-rev>.byz-col {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.byz-col-1,
.byz-col-2,
.byz-col-3,
.byz-col-4,
.byz-col-5,
.byz-col-6,
.byz-col-7,
.byz-col-8,
.byz-col-9,
.byz-col-10,
.byz-col-11,
.byz-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.byz-col-1 {
    width: 8.3333%;
}
.byz-col-2 {
    width: 16.6667%;
}
.byz-col-3 {
    width: 25%;
}
.byz-col-4 {
    width: 33.3333%;
}
.byz-col-5 {
    width: 41.6667%;
}
.byz-col-6 {
    width: 50%;
}
.byz-col-7 {
    width: 58.3333%;
}
.byz-col-8 {
    width: 66.6667%;
}
.byz-col-9 {
    width: 75%;
}
.byz-col-10 {
    width: 83.3333%;
}
.byz-col-11 {
    width: 91.6667%;
}
.byz-col-12 {
    width: 100%;
}
.byz-col-order-first {
    -ms-flex-order: -1;
    order: -1;
}
.byz-col-order-last {
    -ms-flex-order: 13;
    order: 13;
}
.byz-col-order-0 {
    -ms-flex-order: 0;
    order: 0;
}
.byz-col-order-1 {
    -ms-flex-order: 1;
    order: 1;
}
.byz-col-order-2 {
    -ms-flex-order: 2;
    order: 2;
}
.byz-col-order-3 {
    -ms-flex-order: 3;
    order: 3;
}
.byz-col-order-4 {
    -ms-flex-order: 4;
    order: 4;
}
.byz-col-order-5 {
    -ms-flex-order: 5;
    order: 5;
}
.byz-col-order-6 {
    -ms-flex-order: 6;
    order: 6;
}
.byz-col-order-7 {
    -ms-flex-order: 7;
    order: 7;
}
.byz-col-order-8 {
    -ms-flex-order: 8;
    order: 8;
}
.byz-col-order-9 {
    -ms-flex-order: 9;
    order: 9;
}
.byz-col-order-10 {
    -ms-flex-order: 10;
    order: 10;
}
.byz-col-order-11 {
    -ms-flex-order: 11;
    order: 11;
}
.byz-col-order-12 {
    -ms-flex-order: 12;
    order: 12;
}
.byz-offset-12 {
    margin-left: 100%;
}
.byz-offset-11 {
    margin-left: 91.66666667%;
}
.byz-offset-10 {
    margin-left: 83.33333333%;
}
.byz-offset-9 {
    margin-left: 75%;
}
.byz-offset-8 {
    margin-left: 66.66666667%;
}
.byz-offset-7 {
    margin-left: 58.33333333%;
}
.byz-offset-6 {
    margin-left: 50%;
}
.byz-offset-5 {
    margin-left: 41.66666667%;
}
.byz-offset-4 {
    margin-left: 33.33333333%;
}
.byz-offset-3 {
    margin-left: 25%;
}
.byz-offset-2 {
    margin-left: 16.66666667%;
}
.byz-offset-1 {
    margin-left: 8.33333333%;
}
.byz-offset-0 {
    margin-left: 0%;
}
@media screen and (min-width: $sm) {
    .byz-sm-1,
    .byz-sm-2,
    .byz-sm-3,
    .byz-sm-4,
    .byz-sm-5,
    .byz-sm-6,
    .byz-sm-7,
    .byz-sm-8,
    .byz-sm-9,
    .byz-sm-10,
    .byz-sm-11,
    .byz-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .byz-sm-1 {
        width: 8.3333%;
    }
    .byz-sm-2 {
        width: 16.6667%;
    }
    .byz-sm-3 {
        width: 25%;
    }
    .byz-sm-4 {
        width: 33.3333%;
    }
    .byz-sm-5 {
        width: 41.6667%;
    }
    .byz-sm-6 {
        width: 50%;
    }
    .byz-sm-7 {
        width: 58.3333%;
    }
    .byz-sm-8 {
        width: 66.6667%;
    }
    .byz-sm-9 {
        width: 75%;
    }
    .byz-sm-10 {
        width: 83.3333%;
    }
    .byz-sm-11 {
        width: 91.6667%;
    }
    .byz-sm-12 {
        width: 100%;
    }
    .byz-sm-offset-12 {
        margin-left: 100%;
    }
    .byz-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .byz-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .byz-sm-offset-9 {
        margin-left: 75%;
    }
    .byz-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .byz-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .byz-sm-offset-6 {
        margin-left: 50%;
    }
    .byz-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .byz-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .byz-sm-offset-3 {
        margin-left: 25%;
    }
    .byz-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .byz-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .byz-sm-offset-0 {
        margin-left: 0%;
    }
    .byz-sm-order-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .byz-sm-order-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .byz-sm-order-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .byz-sm-order-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .byz-sm-order-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .byz-sm-order-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .byz-sm-order-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .byz-sm-order-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .byz-sm-order-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .byz-sm-order-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .byz-sm-order-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .byz-sm-order-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .byz-sm-order-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .byz-sm-order-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .byz-sm-order-12 {
        -ms-flex-order: 12;
        order: 12;
    }
}
@media screen and (min-width: $md) {
    .byz-md-1,
    .byz-md-2,
    .byz-md-3,
    .byz-md-4,
    .byz-md-5,
    .byz-md-6,
    .byz-md-7,
    .byz-md-8,
    .byz-md-9,
    .byz-md-10,
    .byz-md-11,
    .byz-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .byz-md-1 {
        width: 8.3333%;
    }
    .byz-md-2 {
        width: 16.6667%;
    }
    .byz-md-3 {
        width: 25%;
    }
    .byz-md-4 {
        width: 33.3333%;
    }
    .byz-md-5 {
        width: 41.6667%;
    }
    .byz-md-6 {
        width: 50%;
    }
    .byz-md-7 {
        width: 58.3333%;
    }
    .byz-md-8 {
        width: 66.6667%;
    }
    .byz-md-9 {
        width: 75%;
    }
    .byz-md-10 {
        width: 83.3333%;
    }
    .byz-md-11 {
        width: 91.6667%;
    }
    .byz-md-12 {
        width: 100%;
    }
    .byz-md-offset-12 {
        margin-left: 100%;
    }
    .byz-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .byz-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .byz-md-offset-9 {
        margin-left: 75%;
    }
    .byz-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .byz-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .byz-md-offset-6 {
        margin-left: 50%;
    }
    .byz-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .byz-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .byz-md-offset-3 {
        margin-left: 25%;
    }
    .byz-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .byz-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .byz-md-offset-0 {
        margin-left: 0%;
    }
    .byz-md-order-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .byz-md-order-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .byz-md-order-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .byz-md-order-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .byz-md-order-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .byz-md-order-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .byz-md-order-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .byz-md-order-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .byz-md-order-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .byz-md-order-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .byz-md-order-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .byz-md-order-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .byz-md-order-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .byz-md-order-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .byz-md-order-12 {
        -ms-flex-order: 12;
        order: 12;
    }
}
@media screen and (min-width: $lg) {
    .byz-lg-1,
    .byz-lg-2,
    .byz-lg-3,
    .byz-lg-4,
    .byz-lg-5,
    .byz-lg-6,
    .byz-lg-7,
    .byz-lg-8,
    .byz-lg-9,
    .byz-lg-10,
    .byz-lg-11,
    .byz-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .byz-lg-1 {
        width: 8.3333%;
    }
    .byz-lg-2 {
        width: 16.6667%;
    }
    .byz-lg-3 {
        width: 25%;
    }
    .byz-lg-4 {
        width: 33.3333%;
    }
    .byz-lg-5 {
        width: 41.6667%;
    }
    .byz-lg-6 {
        width: 50%;
    }
    .byz-lg-7 {
        width: 58.3333%;
    }
    .byz-lg-8 {
        width: 66.6667%;
    }
    .byz-lg-9 {
        width: 75%;
    }
    .byz-lg-10 {
        width: 83.3333%;
    }
    .byz-lg-11 {
        width: 91.6667%;
    }
    .byz-lg-12 {
        width: 100%;
    }
    .byz-lg-offset-12 {
        margin-left: 100%;
    }
    .byz-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .byz-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .byz-lg-offset-9 {
        margin-left: 75%;
    }
    .byz-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .byz-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .byz-lg-offset-6 {
        margin-left: 50%;
    }
    .byz-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .byz-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .byz-lg-offset-3 {
        margin-left: 25%;
    }
    .byz-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .byz-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .byz-lg-offset-0 {
        margin-left: 0%;
    }
    .byz-lg-order-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .byz-lg-order-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .byz-lg-order-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .byz-lg-order-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .byz-lg-order-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .byz-lg-order-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .byz-lg-order-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .byz-lg-order-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .byz-lg-order-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .byz-lg-order-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .byz-lg-order-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .byz-lg-order-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .byz-lg-order-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .byz-lg-order-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .byz-lg-order-12 {
        -ms-flex-order: 12;
        order: 12;
    }
}
@media screen and (min-width: $xl) {
    .byz-xl-1,
    .byz-xl-2,
    .byz-xl-3,
    .byz-xl-4,
    .byz-xl-5,
    .byz-xl-6,
    .byz-xl-7,
    .byz-xl-8,
    .byz-xl-9,
    .byz-xl-10,
    .byz-xl-11,
    .byz-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .byz-xl-1 {
        width: 8.3333%;
    }
    .byz-xl-2 {
        width: 16.6667%;
    }
    .byz-xl-3 {
        width: 25%;
    }
    .byz-xl-4 {
        width: 33.3333%;
    }
    .byz-xl-5 {
        width: 41.6667%;
    }
    .byz-xl-6 {
        width: 50%;
    }
    .byz-xl-7 {
        width: 58.3333%;
    }
    .byz-xl-8 {
        width: 66.6667%;
    }
    .byz-xl-9 {
        width: 75%;
    }
    .byz-xl-10 {
        width: 83.3333%;
    }
    .byz-xl-11 {
        width: 91.6667%;
    }
    .byz-xl-12 {
        width: 100%;
    }
    .byz-xl-offset-12 {
        margin-left: 100%;
    }
    .byz-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .byz-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .byz-xl-offset-9 {
        margin-left: 75%;
    }
    .byz-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .byz-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .byz-xl-offset-6 {
        margin-left: 50%;
    }
    .byz-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .byz-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .byz-xl-offset-3 {
        margin-left: 25%;
    }
    .byz-xl-offset-2 {
        margin-left: 16.66666667%;
    }
    .byz-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .byz-xl-offset-0 {
        margin-left: 0%;
    }
    .byz-xl-order-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .byz-xl-order-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .byz-xl-order-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .byz-xl-order-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .byz-xl-order-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .byz-xl-order-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .byz-xl-order-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .byz-xl-order-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .byz-xl-order-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .byz-xl-order-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .byz-xl-order-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .byz-xl-order-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .byz-xl-order-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .byz-xl-order-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .byz-xl-order-12 {
        -ms-flex-order: 12;
        order: 12;
    }
}