.ui-scrollbar {
    &.ui-scrollbar-menu {
        &::-webkit-scrollbar {
            width: 0.2em;
        }
        /** STYLE 7 */
        &::-webkit-scrollbar-track {
            background: var(--byz-color-gray-step-2);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--byz-text-color-placeholder);
            border: 0;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--byz-color-secondary);
        }
        &::-webkit-scrollbar-thumb:active {
            background: var(--byz-color-primary);
        }
    }
    &.ui-scrollbar-main {
        &::-webkit-scrollbar {
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: var(--byz-color-gray-step-2);
            border: 1px solid var(--byz-color-gray-step-4);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background: var(--byz-text-color-placeholder);
            border: 1px solid var(--byz-color-gray-step-4);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--byz-color-secondary);
        }
        &::-webkit-scrollbar-thumb:active {
            background: var(--byz-color-primary);
        }
    }
}