<div class="column-filter-panel">
    <div class="header">
        <p class="title">
            <span class="byz-icon bi-funnel"></span>
            <span>筛选器</span>
        </p>
        <p class="clear" (click)='clearFilterItems()'>清空</p>
    </div>
    <div class="advance">
        <byz-select [options]="logicalOperations" placeholder="请选择运算符" [showClear]="false"
            [(ngModel)]='logicalOperation'>
        </byz-select>
    </div>
    <div class="content">
        <div #filterItemsContainer></div>
        <byz-button class="add-filter" type="default" icon="byz-icon bi-plus" (click)='addFilterItem()'>新增筛选条件
        </byz-button>
    </div>
    <div class="footer">
        <byz-button type="default">另存为</byz-button>
        <byz-button type="primary" (click)='query()'>确定</byz-button>
    </div>
</div>