:host {
    display: inline-block;
    width: 100%;
    height: 100%;
    // height: 40px;
    // max-height: 40px;
    overflow: hidden;
    padding-right: 1.8rem;

    div.cell-wrapper {
        display: flex;
        height: 100%;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.54);

        // &:hover {
        //     background-color: #F2F2F2;
        // }

        span.title {
            padding: 0 .5rem;
            line-height: 38px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &::after {
                padding: 0 .2rem;
                font-weight: 900;
            }
        }

        div.resizer-handler {
            width: 4px;
            height: 100%;
            background-color: gray;
        }
    }
}

// :host(.resizable) {
//     div.cell-wrapper {
//         div.resizer-handler {
//             width: 6px;
//             background-color: gray;

//             &:hover {
//                 cursor: col-resize;
//             }
//         }
//     }
// }

// :host(.sortable.ascending) {
//     span.title {
//         &::after {
//             content: '🠅';
//         }
//     }
// }

// :host(.sortable.descending) {
//     span.title {
//         &::after {
//             content: '⬇';
//         }
//     }
// }